@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic");

* {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #404040;
}

a {
    color: #158CBA;
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

.mainBody {
    background: #FFF;
    min-height: calc(100% - 100px);
}

.navbar {
    background-color: #F8F8F8;  border-color: #E7E7E7;
    border-width: 0 1px 4px 1px;
    border-style: solid;
}

.navbar-container {
    padding: 0 10%;
}

.navbar-menu-toggle {
    display: none;
}

.navbar-brand {
    display: inline-block;  
    padding: 20px 15px 15px 15px;  
    font-size: 25px;  
    line-height: 1;  
    color: #333;
    width: 150px;
    vertical-align: top;
}

.navbar-description {
    display: inline-block;
    font-size: 17px;
    color: #999;
    width: calc(100% - 185px);
    line-height: 1.5;
    padding: 10px 0 8px 0;
}

.navbar-second-row {
    text-align: center;
}

.navbar-button {
    display: inline-block;
    vertical-align: top;
    padding: 15px 10px 10px 10px;
    cursor: pointer;
    color: #999;
    border-right: 1px solid transparent;
    width: 25%;
    box-shadow: inset 0px 8px 10px -10px #CCC;
}

.navbar-button:hover, .navbar-button.active {
    color: #666;
}

.navbar-button:last-child:after {
    display: none;
}

.navbar-button:after {
    width: 1px;
    height: 30px;
    background: #999;
    content: " ";
    float: right;
    margin-top: -3px;
}

.container {
    margin: 0 auto 0 auto;
    width: 1170px;
    font-size: 14px;
}

.page {
    display: none;
}

.page.active {
    display: block;
}

.alert {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    max-width: 25%;
    background-color: #FF851B;
    color: #FFF;
    padding: 15px;
    padding-right: 35px;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 0 1px 4px 1px;
    border-color: #FF7701;
    border-radius: 4px;
}

.alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
    color: inherit;
    border: 0;
    -webkit-appearance: none;
    text-decoration: none;
    float: right;
    font-size: 21px;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFF;
}

.alert h4 {
    color: #FFF;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.alert p {
    color: #FFF;
    font-size: 16px;
}

h1 {
    font-weight: normal;
    font-size: 36px;
}

h2 {
    font-size: 30px;
    font-weight: normal;
}

h3 {
    font-size: 24px;
    font-weight: normal;
}

h4 {
    font-size: 18px;
    font-weight: normal;
}

table, td, th {
    border-collapse: collapse;
    border: 1px solid #DDD;
}

table th {
    width: 100px;
}

.panel {
    border: 1px solid #E7E7E7;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 4px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    border-radius: 4px;
    background-color: #FFF;
}

.panel .panel-heading {
    background-color: #F5F5F5;
    padding: 10px 15px;
}

.panel .panel-heading .panel-title {
    margin-bottom: 0;
    margin-top: 0;
    font-weight: normal;
    font-size: 20px;
    color: #333;
}

.panel-body {
    padding: 15px;
    overflow: hidden;
}

.instructionPanelRow {
    text-align: center;
}

.instructionPanelRow .panel {
    width: 25%;
    display: inline-block;
    margin: 2%;
    padding: 20px;
    vertical-align: top;
}

.instructionPanelRow .panel h4 {
    margin-top: 0;
}

.instructionPanelRow .panel h4, .instructionPanelRow .panel p {
    text-align: left;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

.form-group label {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    margin-top: 5px;
    width: 150px;
    vertical-align: top;
    text-align: right;
    padding-right: 50px;
}

.form-group .form-control {
    width: calc(100% - 250px);
    display: inline-block;
}

.form-group input, .form-group textarea {
    height: 32px;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.075);
    background-image: none;
    border: 1px solid #E7E7E7;
    font-size: 14px;
    padding: 0 10px;
}

.form-group input:focus, .form-group textarea:focus {
    border-color: #66AFE9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
}

.form-group .placeholder {
    position: absolute;
    top: 10px;
    left: 215px;
    color: #AAA;
}

.form-group textarea:focus + .placeholder {
    display: none;
}

.form-group input.hasError, .form-group textarea.hasError {
    border: 1px solid #F00;
}

.form-group textarea {
    height: 150px;
}

.errorMessages {
    color: #F00;
    text-align: right;
    margin-right: 30px;
}

.btn-default {
    color: #555;
    background-color: #EEE;
    border-color: #E2E2E2;
    border-width: 0 1px 4px 1px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    float: right;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px;
    border-style: solid;
}

.btn-default:hover {
    cursor: pointer;
}

.btn-default:active {
    border-bottom-width: 1px;
    margin-top: 4px;
}

.subjects {
    overflow: hidden;
}

.subjectList {
    float: left;
    width: 40%;
}

.empty-text {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #FFF;
    border: 1px solid #DDD;
}

.list-group-item:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

a.list-group-item {
    color: #555;
}

a.list-group-item.active, a.list-group-item.active:hover {
    z-index: 2;
    color: #FFF;
    background-color: #75CAEB;
    border-color: #75CAEB;
}

a.list-group-item:hover {
    text-decoration: none;
    background-color: #F5F5F5;
}

a.list-group-item .optionalText {
    color: #999;
    font-size: 12px;
    margin-left: 5px;
}

a.list-group-item.active .optionalText, 
a.list-group-item.active:hover .optionalText {
    color: #FFF;
}

.subjectList .btn {
    width: 100%;
    margin-top: 10px;
    background: #BDDFBD;
    border-color: #90B490;
}

.subjectSchedulesView .info {
    background-color: #75CAEB;
}

.subjectSchedulesView.inactive .info {
    background-color: #DDD;
}

.subject {
    overflow: hidden;
    margin-bottom: 500px;
}

.subjectView {
    float: left;
    width: 55%;
    margin-left: 5%;
    text-align: center;
}

.optionalSubject {
    text-align: left;
    margin-bottom: 10px;
}

.optionalSubject label {
    font-weight: bold;
}

.optionalSubject .onOff span {
    text-align: center;
}

.optionalSubject .onOff {
    margin-left: 10px;
    margin-right: 10px;
}

.help .tooltip {
    display: none;
    position: absolute;
    left: 20px;
    top: 0;
    width: 200px;
    background: #EEE;
    padding: 5px;
    border-radius: 4px;
    font-size: 13px;
    z-index: 100;
}

.help i:hover + .tooltip {
    display: inline-block;
}

.help {
    position: relative;
}

.viewSchedule {
    border: 1px solid #CCC;
    border-radius: 4px;
    padding: 15px;
}

.viewSchedule h3 {
    text-align: left;
    margin-top: 0;
}

.onOff {
    border: 1px solid #ddd;
    display: inline-block;
}

.onOff span {
    padding: 5px;
    display: inline-block;
    width: 20px;
}

.onOff span.inactive {
    cursor: pointer;
}

.onOff .on.active {
    background: #75CAEB;
}

.onOff .off.active {
    background: #DDD;
}

.onOff .off.inactive:hover {
    box-shadow: -5px 0px 5px #7BA9BE;
}

.onOff .on.inactive:hover {
    box-shadow: -5px 0px 5px #DDD;
}

.viewSchedule, .alternativesViews table {
    margin: 0 auto;
}

.viewSchedule.dummy, .alternativesViews .dummy {
    display: none;
}

.modal-container {
    display: none; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.modal-overlay {
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}

.modal {
    top: 200px;
    position: absolute;
    left: calc(50% - 450px);
    z-index: 1001;
}

.closeModal {
    float: right;
    cursor: pointer;
}

.alternatives {
    overflow: hidden;
    position: relative;
}

.alternativeHeader h4 {
    float: left;
}

.alternativeHeader {
    width: 100%;
    overflow: hidden;
}

.alternativeHeader .pickAlternativeStars {
    float: right;
    margin-top: 1.33em;
    position: relative;
}

.alternativeHeader .pickAlternativeStars .star {
    display: inline-block;
}

.alternativeHeader .pickAlternativeStars i,
.alternativeHeader .pickAlternativeStars span {
    cursor: pointer;
    color: #999;
}

.alternativeHeader .pickAlternativeStars .star:hover i:before,
.alternativeHeader .pickAlternativeStars .star.picked i:before {
    color: #E3CF7A;
    content: "\f005";
}

.alternativeHeader .pickAlternativeStars .star:hover span,
.alternativeHeader .pickAlternativeStars .star.picked span {
    color: #000;
}

.alternativeHeader .pickAlternativeStars span {
    margin-left: -16px;
    position: absolute;
    top: 6px;
    font-size: 11px;
}

.alternativesViewing {
    width: 65%;
    margin: 0 auto;
    border-bottom: 2px solid #DDD;
}

.alternativesViewing button {
    margin-left: 15px;
}

.removeSubjectButton {
    float: right;
    font-weight: bold;
    cursor: pointer;
}

.removeSubjectButton:hover {
    color: #999;
}

.alternativesViews {
    margin: 20px 0;
}

.alternatives .filterBox {
    margin-bottom: 10px;
}

.alternatives .filters label {
    margin-left: 15px;
}

.alternatives .filters {
    padding: 5px 0;
    margin-top: 5px;
}

.alternatives .filters {
    border-bottom: 1px solid #DDD;
}

#advancedFilters .filters {
    border-bottom: none;
}

.checkboxes {
    display: inline-block;
    border-right: 1px solid #DDD;
    padding-right: 10px;
    margin-top: 10px;
    margin-right: 10px;
    width: 30%;
}

.alternative td.day {
    color: #FFF;
    padding: 5px;
}

.alternative td.day .line {
    color: #FFF;
    max-width: 120px;
}

.alternative table {
    text-align: center;
    width: 100%;
}

.checkboxes .checkboxLabel {
    font-weight: bold;
}

body table>thead>tr>th, 
body .table>thead>tr>th,
body table>tbody>tr>th,
body .table>tbody>tr>th,
body table>tfoot>tr>th,
body .table>tfoot>tr>th,
body table>thead>tr>td,
body .table>thead>tr>td,
body table>tbody>tr>td,
body .table>tbody>tr>td,
body table>tfoot>tr>td,
body .table>tfoot>tr>td {
    border-color: #DDD;
    height: 35px;
}

.hidden {
    display: none;
}

.badge {
    display: inline-block;
    background: #666;
    color: #FFF;
    font-size: 12px;
    padding: 0px 7px;
    border-radius: 5px;
}

#showPickedAlternatives.active {
    border-bottom: 0;
    background: #999;
    color: #FFF;
}

#howButton {
    position: absolute;
    top: 70px;
    left: 40px;
    background: #75CAEB;
    border-color: #4BA1C2;
    text-transform: none;
    font-size: 14px;
}

#noAlternatives {
    display: block;
    text-align: center;
    background: #999;
    padding: 15px;
    border-radius: 4px;
    color: #FFF;
    font-size: 16px;
    margin-top: 50px;
}

.footer {
    width: calc(100% - 200px);
    background: #CCC;
    padding: 40px 100px;
    overflow: hidden;
}

.footer .footer-left {
    float: left;
}

.footer .footer-right {
    float: right;
}