<div class="jumbotron">
  <div class="container">
    <h1>Alternativity</h1>
    <p>Alternativity es una herramienta para ayudar a los estudiantes de la UTN a elegir las alternativas para la pre-inscripción a materias.</p>
  </div>
</div>
<div class="container">
<!--
  <div class="btn-group btn-group-justified navigation" data-spy="affix" data-offset-top="300">
    <a href="#how-to-use" class="btn btn-default">Como se usa</a>
    <a href="#subjects" class="btn btn-default">Materias</a>
    <a href="#alternatives" class="btn btn-default">Alternativas</a>
    <a href="#share" class="btn btn-default">Compartir</a>
  </div>
-->
  <h2 id="how-to-use" class="section-title">Cómo se usa</h2>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <h1 class="glyphicon glyphicon-plus"></h1>
        <div class="caption">
          <h4>1. Agregá tus materias</h4>
          <p>Agregá las materias que querés hacer este cuatrimestre y sus horarios, copiándolos de la página del SIGA</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <h1 class="glyphicon glyphicon-filter"></h1>
        <div class="caption">
          <h4>2. Filtrá los horarios</h4>
          <p>Filtrá los horarios disponibles para mostrar sólo las alternativas que son más cómodas</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <h1 class="glyphicon glyphicon-ok"></h1>
        <h1 class="glyphicon glyphicon-ok"></h1>
        <h1 class="glyphicon glyphicon-ok"></h1>
        <div class="caption">
          <h4>3. Elegí tus tres alternativas</h4>
          <p>Finalmente elegí tus tres alternativas finales de entre todas las posibles</p>
        </div>
      </div>
    </div>
  </div>
</div>